body{
    margin:0;
}
section {
    display:flex;
}
section> .maior {
    width: 30%;
}
section> .media {
    width:30%;
}
section> .menor {
    width: 20%;
}
section >.maior > .colunas{
    display:flex;
}
.noticia {
    padding: 5px;
}
.noticia> h2{
    margin-top: 0;
}
.noticia> img {
    width:60%
}
.noticia> .texto-pequeno {
    color:red;
    font-size: 20px;
    margin:0;
}
.anuncio> img{
    width:10%;
}